<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Personality test</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About us</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3 rounded-3 border shadow-lg p-3 mb-5 bg-body">
    <h1 class="py-3">Discover your traits</h1>
     <p class="lead my-5">Take our personality test and learn more about your strengths, weaknesses, and overall personality traits. Our test is based on scientific research and will provide you with accurate and actionable insights into your personality.</p>
    <p class="lead">
           <%= button("Learn more", class: "btn btn-lg btn-secondary fw-bold border-white", to: "/world") %>
    </p>
  </main>

  <footer class="mt-auto">
  </footer>
</div>
